
.banner-area img{
margin-top: -20px;
}

.site-branding{
    font-size: 0.8em;

/*    color: black;*/
}

.lab-heading{

text-align: center;
font-size: 2.5em;

}
/*

RESPONSIVE DESIGN*/

/*
@media screen and (min-width: 1500px){
    .banner-area img {
        max-width: 95%;
        height: auto;
    }
}

@media screen and (min-width: 1600px){
    
    
}*/
