/*
FOOTER STYLE SHEET
*/

.footer-container{
    padding-top: 0px;    
    width: 100%;
}

.footer-wrap{
    padding-bottom: 2em;
    margin-top: 2em;
    padding-top: 1em;
    width:100%;
}

.footer-area{
    text-align: center;
    width: 100%;

}



/*RESPONSIVE DESIGN*/

@media screen and (min-width: 500px){
    .footer-wrap{
        margin-top: 4em;
        padding-top: 2em;

    }
    
    .nav-item{
        width: calc(33.33333% - 1em);
    }
}

  
    

