/*MAIN CONTENT STYLE SHEET*/
/*
-------------------------------------------------
*/
body {
    padding: 12px;

}

.main-content{
/*    border-style: solid;*/
    margin-top:5px;
/*    margin-right: 300px;*/
        padding-left: 0.5em;
    padding-top: 1em;
}


/* 
-------------------------------------------------
SVG and Font Icons Lab
*/
.image-two {
    
     opacity: 0;
  animation: hideshow 5s  ease infinite;
}
@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 1; }
  50%{opacity: 0;}
  100% { opacity: 0; }
 
}




#image-one {
    transform: translateX(150px);
    animation: popup 5s 3s ease infinite;
        
}

@keyframes popup {
  0% {
    transform: translateX(150px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(150px);
  }  
    
}



.image-three {

    padding-left: 50px;
    padding-right: 50px;
    
    animation: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
     from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}   
}


.content {
    
    display: grid;
}

/*
-------------------------------------------------
*/


/*GALLERY DESIGN TWO*/
/*
-----------------------------------
*/
.gall-groups {
  background-color: #597E8E;
}

.gall-groups img {
height: 200px; 
    width: 320px;
    padding: 5px;
/*    background-color: white;*/
    margin: 5px;
    filter: grayscale(.75);
}

.gall-groups img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}


#grouped-images {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.hex-group img{
          -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); 
     width: 320px;
      height: 320px;
}
/*
-------------------------------------------------------
*/

/*Creating a Basic hexagon*/
/*
------------------------------------------
*/
/*
    .hexagon {
      width: 100px;
      height: 55px;
      background: red;
      position: relative;
    }
    .hexagon:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid red;
    }
    .hexagon:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid red;
    }
*/

/*
---------------------------------------------
*/

.current_work {
    text-align: center;
}



/*
---------------------------------------------
*/
/*JS Animation Library*/
/*
---------------------------------------------
*/
#jsLab {
    display: inline-block;
    /*background-color: lawngreen;*/
    padding: 20px;
    margin: 10px;
}

#myJSLab {
    width: 650px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

    #myJSLab .js-lab {
        position: absolute;
        background: url(../images/js-animation-lab.png) no-repeat 0px 0px;
    }

    #myJSLab #background {
        width: inherit;
        height: initial;
        top: 0px;
        left: 0px;
    }

    #myJSLab #jsLabText1 {
        position: absolute;
        width: inherit;
        text-align: center;
        color: antiquewhite;
        font-size: 2em;
        top: 0px;
        left: 0px;
        text-transform: lowercase;
        /*text-shadow: 0px 2px 2px antiquewhite;*/
    }

    #myJSLab #star1 {
        width: 50px;
        /*height: 143px;*/
        /*background-position: 0px -325px; bottom: 0px;*/
        left: 0px;
    }

    #myJSLab #star2 {
        width: inherit
    }

/*RESPONSIVE DESIGN*/

@media screen and (min-width: 400px ){
    
    .main-area-content {
        display: flex;
        justify-content: space-between;
        
            }
    
    .main-content {
        width: calc(50% - 2em);
    }
}

