/*Navigation*/




.nav-boxes{
    height: 150px; 
    width: 150px;
}


.nav-boxes a{
margin: 1em;
    
}

.nav-items a{
    text-align: center;
}
.nav-items li {
    list-style-type: none;
}

#first{
  background-color: #7bb3ca;
}

#second{
    background-color: #1c3664;
}

#third{
    background-color: #006670;
}


/*Index Page Navigation Options*/
.homepage-nav a:link {
    color:white;
}
.homepage-nav a:active {
    color: white;
}


.homepage-nav a:visited {
    color: white;
}

/*Portfolio Navigation Options*/
/*I wonder if Sass nesting would work well here? */
nav a:active {
    color: aqua;
}

nav a:visited {
    color: teal;
}

nav a:link {
    color: black;
}



/*Photography page NAVIGATION*/
/*.secondary-nav{
    padding-left: 
}*/


/*

PORTFOLIO DESIGN: GALLERY DESIGN 

*/

.portfolio-one-nav li{
    list-style-type: none; 
    padding: 5px;
}

.portfolio-one-nav .portfolio-one-nav-items li{
    display: block;
    text-align: center;
    
}

.portfolio-one-nav {
    margin-bottom: 25px;
}

.portfolio-one-nav a{
    text-decoration: none;
}

.home-nav{
    margin-top: -15px;
}

/*RESPONSIVE DESIGN*/

@media screen and (min-width: 500px){
    .nav-items{
        display:flex;
        justify-content: space-between;
        margin-top: 2em;

    }
    
    .nav-item{
        width: calc(33.33333% - 1em);
    }   
}



@media screen and (min-width: 800px){
    .nav-items{
        display: flex;
        justify-content: space-between;
        
    }
    
    .nav-item{
        width: calc(33.33333% - 3em);
    }
}
