/*Navigation*/




.nav-boxes{
    height: 150px; 
}


.nav-boxes a{
margin: 1em;
    
}


#first{
  background-color: #7bb3ca;
}

#second{
    background-color: #1c3664;
}

#third{
    background-color: #006670;
}

/*Photography page NAVIGATION*/
.secondary-nav{
    padding-left: 
}


/*

PORTFOLIO DESIGN: GALLERY DESIGN 

*/

.portfolio-one-nav li{
    list-style-type: none; 
    padding: 5px;
}

.portfolio-one-nav .portfolio-one-nav-items li{
    display: block;
    text-align: center;
    
}

.portfolio-one-nav {
    margin-bottom: 25px;
}

.portfolio-one-nav a{
    text-decoration: none;
}

.home-nav{
    margin-top: -15px;
}

/*RESPONSIVE DESIGN*/

@media screen and (min-width: 500px){
    .nav-items{
        display:flex;
        justify-content: space-between;
        margin-top: 2em;

    }
    
    .nav-item{
        width: calc(33.33333% - 1em);
    }   
}



@media screen and (min-width: 800px){
    .nav-items{
        display: flex;
        justify-content: space-between;
        
    }
    
    .nav-item{
        width: calc (33.33333% - 3em);
    }
}
