/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

/*

FONT FOR: Portfolio Design 1: Gallery Design 
font-family: 'Raleway', sans-serif;
font-family: 'Pompiere', cursive;


FONT FOR: Portfolio Design 1: Gallery Design
font-family: 'Great Vibes', cursive;
font-family: 'Raleway', sans-serif;

font-family: 'Allura', cursive;

FONT FOR: Experimental Design/Skills demonstration

*/



body{
    font-family: 'Raleway', sans-serif;
    font-size:100%;
    font-size:18px;
    
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Pompiere', cursive;
	clear: both;
    color: black;
    margin-left: 10px;
}

.banner-area a{
    color: black;
    text-decoration-line: none;
}

h1{
    color: black;
}
.nav-items p{
text-align: center;}

p{
        font-family: 'Raleway', sans-serif;
}

 .nav-boxes a{
        font-family: 'Raleway', sans-serif;
     color: lightgray;
}

.nav-items p a{
    text-decoration-line: none;
    color: black;
}

footer p{
	font-family: 'Pompiere', cursive;
    text-align: center;
}

a {
    text-decoration-line: none;
}

/*PORTFOLIO DESIGN 1: GALLERY DESIGN */



.portfolio-one-title-one{
    font-family: 'Great Vibes',  cursive;;
    letter-spacing: 1.5px;
    font-size: 4em;
    text-align: center;
    margin-left: -250px;
    transform: skewY(-10deg);
}

.portfolio-one-title-two{
    font-family: 'Great Vibes',  cursive;;
    letter-spacing: 1.5px;
    font-size: 4em;
    text-align: center;
    transform: skewY(-10deg);
    margin-top: -100px;
    margin-left: 50px;
}


.portfolio-one-nav p a{
    text-decoration-line: none;
    color: black;
}

/*PORTFOLIO DESIGN 1: GALLERY DESIGN TWO */


#gallery-design-two{
    background-color: #F3D8D2;
/*    padding: 5px;*/
/*    width: 100%; */
    margin-bottom: 75px;
    margin-top: -10px;
    margin-left: -25px;
    padding-left: 100px;
    padding-top: 1em;
    padding-bottom: 2px;
/*px;
    padding: 20px; 
    margin-left: -250px;    
*/
}
.gall-design-two{
    background-color: #F9EBE2;
}



.test-page-title{
     font-family: 'Great Vibes',  cursive;;
    letter-spacing: 1.5px;
    font-size: 4em;
    text-align: center;
    margin-left: -250px;
    transform: skewY(-10deg);

}
.test-page-title-two{
     font-family: 'Great Vibes',  cursive;;
    letter-spacing: 1.5px;
    font-size: 4em;
    text-align: center;
    transform: skewY(-10deg);
    margin-top: -100px;
    margin-left: 50px;

}



.test-centered{
    background-color: #F3D8D2;
    padding: 20px; 
}
        
.test-body{
    background-color: #F9EBE2;

}
/*Responsive Typography*/

/*
@media screen and(min-width: 390px){

}
*/


/*
.content {
    font size: 1em;
}
*/

/*
@media screen and (min-width: 50 em){
    .content {
            font size: 1.2em;
            line-height: 1.4em;
            }  
}
*/

/*
@media screen and (mind-width: 60em){
    .content{
        font-size: 1.3em;
        line-height:1.4em; 
    }
}*/
