/*create @mixin directive*/
/*insert Variable using Partial. */
/* line 13, ../../assets/scss/styles.scss */
#sassLabTitle h3 {
  color: #60ad60;
  font-size: 2em;
}

/*use @mixin directive*/
/* line 19, ../../assets/scss/styles.scss */
#sassLabText {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
